{% extends 'base.html' %}
{% load static %}

{% block title %}Besiged Studios - Miniature Commissions{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Besieged Studios!</h1>
            <p>Your destination for beautifully painted miniature figures and scenes!</p>
            <div class="features">
                <h2>Explore our services</h2>
                <ul>
                    <li>Custom Miniature Painting</li>
                    <li>Extensive Gallery</li>
                    <li>Commission a Unique Piece</li>
                    <li>Custom Miniature Conversions</li>
                    <li>Custom Terrain Building</li>
                    <li>Custom Diorama Building</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <a href="{% url 'gallery' %}" class="btn btn-primary mb-3">View Gallery</a>
                    <img src="{% static 'home/images/gallery_placeholder.jpg' %}" alt="gallery Image" class="img-fluid img-thumbnail">
                    <p>Click the button to view our gallery of completed projects!</p>
                </div>
                <div class="col-md-6 text-center">
                    <a href="{% url 'commissions' %}" class="btn btn-primary mb-3">Commission a Piece</a>
                    <img src="{% static 'home/images/commissions_placeholder.jpg' %}" alt="commissions Image" class="img-fluid img-thumbnail">
                    <p>Click here to commission a piece today!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}