{% extends 'base.html' %}
{% load static %}

{% block title %}Besieged Studios - Gallery{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Our Miniature Collection</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'gallery:gallery_detail' project.id %}" class="text-decoration-none">
                    <div class="card h-100 text-center">
                        <img class="card-img-top card:hover" src="{{ project.image.url }}" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">
                                Categories:
                                {% for category in project.category.all %}
                                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}