{% extends 'base.html' %}
{% block title %}Commission Detail{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Commission Request Details</h2>
    <p><strong>Category:</strong> {{ commission.get_category_display }}</p>
    <p><strong>Size:</strong> {{ commission.size_option }}</p>
    <p><strong>Assembly Required:</strong> {{ commission.assembly_required|yesno:"Yes,No" }}</p>
    <p><strong>Priming Required:</strong> {{ commission.priming_required|yesno:"Yes,No" }}</p>
    <p><strong>Notes:</strong> {{ commission.notes }}</p>
    {% if commission.image %}
        <p><strong>Image:</strong><br><img src="{{ commission.image.url }}" class="img-thumbnail" style="max-width: 300px;"></p>
    {% endif %}
    <hr>
    <p><strong>Base Price:</strong> £{{ commission.base_price }}</p>
    <p><strong>Assembly Uplift:</strong> £{{ commission.assembly_cost }}</p>
    <p><strong>Priming Uplift:</strong> £{{ commission.priming_cost }}</p>
    <p><strong>Size Uplift:</strong> £{{ commission.size_uplift }}</p>

    {% if commission.total_price == 0 %}
        <p><strong>Total Price:</strong> <strong>Pending</strong></p>
    {% else %}
        <p><strong>Total Price:</strong> <strong>£{{ commission.total_price }}</strong></p>
    {% endif %}

    <hr>
    <a href="{% url 'commissions:delete_commission' commission.pk %}" class="btn btn-danger">Delete Commission</a>
    <a href="{% url 'dashboard:dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
    {% if commission.staus == "ready" %}
        <a href="{% url 'commissions:add_to_basket' commission.pk %}" class="btn btn-success">Add to Basket</a>
    {% else %}
        <a class="btn btn-success disabled">Quotation Pending</a>
    {% endif %}

    <!-- Debugging -->
    <pre>{{ commission }}</pre>
</div>
{% endblock %}