@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

.content {
    margin-top: 20px;
}

/* Generic styles */

.container {
    text-align: center;
    margin-top: 50px;
}

/* Home page Styling */

.features h2 {
    margin-top: 30px;
    font-size: 24px;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    font-size: 18px;
    margin: 10px 0;
}

.image-button {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.image-button:hover {
    background-color: #0056b3;
}

/* Checkout Styling */

.checkout-input {
    align-self: flex-start;
    width: 50%;
}

/* Styling for images in mobile displays */

@media (max-width: 768px) {
  img {
    max-width: 90%;
    margin: 0 auto;
  }
}